<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD SQL Map Config 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<settings>
		<setting name="logImpl" value="LOG4J2" />
		<setting name="cacheEnabled" value="true"/><!-- 全局映射器启用缓存 -->
		<setting name="useGeneratedKeys" value="true"/>
		<setting name="defaultExecutorType" value="REUSE"/>
	</settings>

	<!--<typeAliases>
        <typeAlias type="com.jiujiuyun.oauth.model.sys.entity.po.TbUserBase" alias="TbUserBase"/>
        &lt;!&ndash; 分页 &ndash;&gt;
        <typeAlias type="com.jjy.entity.Page" alias="Page"/>
    </typeAliases>-->

    <typeAliases>
        <typeAlias type="com.cleverweb.core.entity.system.User" alias="User"/>
        <typeAlias type="com.cleverweb.core.entity.system.Role" alias="Role"/>
        <typeAlias type="com.cleverweb.core.entity.system.Menu" alias="Menu"/>
        <typeAlias type="com.cleverweb.core.entity.system.Dictionaries" alias="Dictionaries"/>
        <typeAlias type="com.cleverweb.core.entity.system.Department" alias="Department"/>
        <typeAlias type="com.cleverweb.common.util.PageData" alias="pd"/>
        <!-- 分页 -->
        <typeAlias type="com.cleverweb.core.entity.Page" alias="Page"/>
    </typeAliases>
	<plugins>
		<!-- com.github.pagehelper为PageHelper类所在包名 -->

		<plugin interceptor="com.github.pagehelper.PageHelper">
			<property name="dialect" value="mysql"/>
			<!-- 该参数默认为false -->
			<!-- 设置为true时，会将RowBounds第一个参数offset当成pageNum页码使用 -->
			<!-- 和startPage中的pageNum效果一样-->
			<property name="offsetAsPageNum" value="true"/>
			<!-- 该参数默认为false -->
			<!-- 设置为true时，使用RowBounds分页会进行count查询 -->
			<property name="rowBoundsWithCount" value="true"/>
		</plugin>
	</plugins>

</configuration>