*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/*.iml
/target/
/out/
/build/

#
.project
.factorypath
.classpath
.settings

# node
/node
/node_modules
package-lock.json

# file
/files
