<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">

    <util:properties id="COMMON" location="classpath:/conf/app.properties"/>
    <context:property-placeholder location="classpath:/conf/app.properties" ignore-unresolvable="true"/>


    <context:component-scan base-package="com.cleverweb" use-default-filters="false">
        <context:include-filter type="annotation" expression="com.cleverweb.core.repository.MyBatisRepository"/>
        <context:include-filter type="annotation" expression="org.springframework.stereotype.Service"/>
        <context:include-filter type="annotation" expression="org.springframework.stereotype.Repository"/>
        <context:include-filter type="annotation" expression="org.springframework.stereotype.Component"/>
        <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
    </context:component-scan>



    <import resource="classpath*:/spring/spring-shiro.xml" />
    <import resource="classpath*:/spring/spring-db.xml"/>
    <import resource="classpath*:/spring/spring-transaction.xml"/>
    <import resource="classpath*:/spring/spring-mybatis.xml" />


    <!-- 开发环境 -->
    <beans profile="develop">
        <!-- 加载数据库属性配置文件 -->
        <util:properties id="APP" location="classpath:/conf/app.develop.properties"/>
        <context:property-placeholder location="classpath:/conf/app.develop.properties" ignore-unresolvable="true"/>
    </beans>

</beans>