<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="TextmsgMapper">
	
	<!-- 新增-->
	<insert id="save" parameterType="pd">
		insert into WEIXIN_TEXTMSG(
			KEYWORD,	
			CONTENT,	
			CREATETIME,	
			STATUS,	
			BZ,	
			TEXTMSG_ID
		) values (
			#{KEYWORD},	
			#{CONTENT},	
			#{CREATETIME},	
			#{STATUS},	
			#{BZ},	
			#{TEXTMSG_ID}
		)
	</insert>
	
	<!-- 删除-->
	<delete id="delete" parameterType="pd">
		delete from WEIXIN_TEXTMSG
		where 
			TEXTMSG_ID = #{TEXTMSG_ID}
	</delete>
	
	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update  WEIXIN_TEXTMSG
			set 
				KEYWORD = #{KEYWORD},
				CONTENT = #{CONTENT},
				STATUS = #{STATUS},
				BZ = #{BZ},
			TEXTMSG_ID = TEXTMSG_ID
			where 
				TEXTMSG_ID = #{TEXTMSG_ID}
	</update>
	
	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select 
			KEYWORD,	
			CONTENT,	
			CREATETIME,	
			STATUS,	
			BZ,	
			TEXTMSG_ID
		from 
			WEIXIN_TEXTMSG
		where 
			TEXTMSG_ID = #{TEXTMSG_ID}
	</select>
	
	<!-- 匹配关键词 -->
	<select id="findByKw" parameterType="pd" resultType="pd" useCache="false">
		select 
			CONTENT
		from 
			WEIXIN_TEXTMSG
		where 
			KEYWORD = #{KEYWORD}
		<if test="TEXTMSG_ID != null and TEXTMSG_ID != ''">
			and TEXTMSG_ID != #{TEXTMSG_ID} 
		</if>
		<if test="STATUS == null or STATUS == ''">
			and STATUS = '1' 
		</if>
	</select>
	
	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
		select
				a.KEYWORD,	
				a.CONTENT,	
				a.CREATETIME,	
				a.STATUS,	
				a.BZ,	
				a.TEXTMSG_ID
		from 
				WEIXIN_TEXTMSG a
			where
				1=1
		<if test="pd.KEYWORD != null and pd.KEYWORD != ''"><!-- 关键词检索 -->
			and a.KEYWORD LIKE CONCAT(CONCAT('%', #{pd.KEYWORD}),'%')
		</if>
		<if test="pd.STATUS!=null and pd.STATUS!='' and pd.STATUS!=0"><!-- 状态检索 -->
			and a.STATUS = #{pd.STATUS} 
		</if>
		order by a.CREATETIME desc
	</select>
	
	<!-- 列表(全部) -->
	<select id="listAll" parameterType="pd" resultType="pd">
		select
				a.KEYWORD,	
				a.CONTENT,	
				a.CREATETIME,	
				a.STATUS,	
				a.BZ,	
				a.TEXTMSG_ID
		from 
				WEIXIN_TEXTMSG a
	</select>
	
	<!-- 批量删除 -->
	<delete id="deleteAll" parameterType="String">
		delete from WEIXIN_TEXTMSG
		where 
			TEXTMSG_ID in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</delete>
	
	<!-- FH QQ 313596790 -->
</mapper>