<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!-- mybatis 分页拦截器 移动到mybatis配置文件里面了 09-06
    <bean id="pagingInterceptor" class="com.pansoft.everweb.interceptor.PagingInterceptor"></bean>
     -->

    <!-- 扫描basePackage下所有以@MyBatisRepository标识的 接口-->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.toquery.cleverweb.dao"/>
        <property name="annotationClass" value="com.toquery.cleverweb.core.repository.MyBatisRepository"/>
        <!--
        <property name="annotationClass" value="org.springframework.stereotype.Repository"/>

        <property name="sqlSessionTemplateBeanName" value="sqlSession" />
         -->
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"/>
    </bean>

    <!-- MyBatis配置 -->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="configLocation" value="classpath:/mybatis/config/mybatis-config.xml"/>
        <!-- 自动扫描entity目录, 省掉Configuration.xml里的手工配置 -->
        <property name="typeAliasesPackage" value="com.toquery.cleverweb.entity.po"/>
        <!-- 显式指定Mapper文件位置 -->
        <property name="mapperLocations" value="classpath:/mybatis/mapper/*/*.xml"/>

        <!-- 不是用spring容器管理事务
        <property name="transactionFactory">
            <bean class="org.apache.ibatis.transaction.managed.ManagedTransactionFactory" />
        </property>
         -->
        <!-- 将SessionFactory中配置拦截器，以便分页
        <property name="plugins">
            <ref bean="pagingInterceptor"/>
        </property>
        -->
    </bean>

    <bean id="sqlSession" class="org.mybatis.spring.SqlSessionTemplate" destroy-method="getExecutorType">
        <constructor-arg index="0" ref="sqlSessionFactory"/>
        <!-- 启用批操作
            <constructor-arg index="1" value="BATCH" />
         -->
    </bean>

</beans>