<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cleverweb.dao.TbSysMessageMapper">
    <resultMap id="BaseResultMap" type="com.cleverweb.entity.po.TbSysMessage">
        <id column="message_id" property="messageId" jdbcType="VARCHAR"/>
        <result column="content" property="content" jdbcType="VARCHAR"/>
        <result column="type" property="type" jdbcType="VARCHAR"/>
        <result column="to_username" property="toUsername" jdbcType="VARCHAR"/>
        <result column="from_username" property="fromUsername" jdbcType="VARCHAR"/>
        <result column="send_time" property="sendTime" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="VARCHAR"/>
        <result column="sanme_id" property="sanmeId" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
    message_id, content, type, to_username, from_username, send_time, status, sanme_id
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from tb_sys_message
        where message_id = #{messageId,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from tb_sys_message
    where message_id = #{messageId,jdbcType=VARCHAR}
  </delete>
    <insert id="insert" parameterType="com.cleverweb.entity.po.TbSysMessage">
    insert into tb_sys_message (message_id, content, type, 
      to_username, from_username, send_time, 
      status, sanme_id)
    values (#{messageId,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, 
      #{toUsername,jdbcType=VARCHAR}, #{fromUsername,jdbcType=VARCHAR}, #{sendTime,jdbcType=VARCHAR}, 
      #{status,jdbcType=VARCHAR}, #{sanmeId,jdbcType=VARCHAR})
  </insert>
    <insert id="insertSelective" parameterType="com.cleverweb.entity.po.TbSysMessage">
        insert into tb_sys_message
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="messageId != null">
                message_id,
            </if>
            <if test="content != null">
                content,
            </if>
            <if test="type != null">
                type,
            </if>
            <if test="toUsername != null">
                to_username,
            </if>
            <if test="fromUsername != null">
                from_username,
            </if>
            <if test="sendTime != null">
                send_time,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="sanmeId != null">
                sanme_id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="messageId != null">
                #{messageId,jdbcType=VARCHAR},
            </if>
            <if test="content != null">
                #{content,jdbcType=VARCHAR},
            </if>
            <if test="type != null">
                #{type,jdbcType=VARCHAR},
            </if>
            <if test="toUsername != null">
                #{toUsername,jdbcType=VARCHAR},
            </if>
            <if test="fromUsername != null">
                #{fromUsername,jdbcType=VARCHAR},
            </if>
            <if test="sendTime != null">
                #{sendTime,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                #{status,jdbcType=VARCHAR},
            </if>
            <if test="sanmeId != null">
                #{sanmeId,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.cleverweb.entity.po.TbSysMessage">
        update tb_sys_message
        <set>
            <if test="content != null">
                content = #{content,jdbcType=VARCHAR},
            </if>
            <if test="type != null">
                type = #{type,jdbcType=VARCHAR},
            </if>
            <if test="toUsername != null">
                to_username = #{toUsername,jdbcType=VARCHAR},
            </if>
            <if test="fromUsername != null">
                from_username = #{fromUsername,jdbcType=VARCHAR},
            </if>
            <if test="sendTime != null">
                send_time = #{sendTime,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=VARCHAR},
            </if>
            <if test="sanmeId != null">
                sanme_id = #{sanmeId,jdbcType=VARCHAR},
            </if>
        </set>
        where message_id = #{messageId,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.cleverweb.entity.po.TbSysMessage">
    update tb_sys_message
    set content = #{content,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR},
      to_username = #{toUsername,jdbcType=VARCHAR},
      from_username = #{fromUsername,jdbcType=VARCHAR},
      send_time = #{sendTime,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      sanme_id = #{sanmeId,jdbcType=VARCHAR}
    where message_id = #{messageId,jdbcType=VARCHAR}
  </update>
</mapper>